body a {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

body a

body hover img {
  transform: scale(1.5);
}

h3 {
  color: red;
}

#navbar.bg-danger {
  background-color: #006400;
}

footer {
  background-color: #00008b;
  text-decoration: none;
  color: azure;
  padding: 10px;
}

h4 {
  color: red;
}
  

body {
  background-color: aliceblue;
}
