* {
  margin: 50px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: linear-gradient(45deg, #f06, #9f6, #06f, #f06);
  background-size: 400% 400%; /* Size of the gradient background */
  animation: gradientAnimation 10s ease infinite; /* Adjust the duration as needed */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveCircle {
  0% {
    cx: 50;
  }
  50% {
    cx: 80; /* Move the circle to the right */
  }
  100% {
    cx: 50;
  }
}

circle {
  animation: moveCircle 2s ease-in-out infinite;
}

footer {
  margin: 100px;
  padding: 0px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Apply the animation to the SVG element */
#left-wheel,
#right-wheel {
  animation: spin 1s linear infinite; /* Adjust the duration as needed */
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

#Main,
#Cap {
  animation: bounce 2s infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
